<div id="<%= dom_id instrument %>">
  <p>
    <strong>Brand:</strong>
    <%= instrument.brand %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= instrument.model %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= instrument.description %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= instrument.condition %>
  </p>

  <p>
    <strong>Finish:</strong>
    <%= instrument.finish %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= instrument.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= instrument.price %>
  </p>

</div>
